<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <section>
      <div class="todoapp">
        <input class="new-todo"
            autofocus autocomplete="off"
            placeholder="What needs to be done?"
            v-model="newTodo"
            @change="hoge">
        <p>1234</p>
        <div v-for="props in inputsDef">
          <input v-model="testData[props.key]" type="text" placeholder="{{ props.placeholder }}"
              @change="setter(props.key, testData[props.key])" />
        </div>
      </div>
    </section>
    <script src="src/vue.js"></script>
    <script src="src/index.js"></script>
  </body>
</html>
